amqp==2.1.4
appdirs==1.4.3
billiard==3.5.0.2
celery==4.0.2
defusedxml==0.5.0
Django==1.11.1
django-celery-results==1.0.1
django-codemirror-widget==0.4.1
django-extensions==1.7.9
kombu==4.0.2
oauthlib==2.0.2
packaging==16.8
pydotplus==2.0.2
Pygments==2.2.0
PyJWT==1.5.0
pyparsing==2.2.0
python3-openid==3.1.0
pytz==2017.2
requests==2.14.2
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.3.0
vine==1.1.3
