<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% block content %}
  <h2>Homepage</h2>
  <p>Hello {{ user }}!</p>
  <p>You can choose from your repositories. Makefile required!</p>

  <p>
      <form role="form" action="" method="post">
          {% csrf_token %}
         <p>{{ choices }}</p>
         <button type="submit">Submit</button>
      </form>
  </p>

<a href="{% url 'firstwin:history' %}">History</a>

{% endblock %}

</body>
</html>