
{% load staticfiles %}
<link rel="stylesheet" href="../static/codemirror/lib/codemirror.css">
<script type="text/javascript" src="../static/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="../static/codemirror/mode/clike/clike.js"></script>



{% block content %}
<h1>Boryaonelove</h1>
        <form role="form" action="" method="post">
                {% csrf_token %}
            <!--<div id="container">-->
                <!--<textarea id="code" cols="10" rows="4"></textarea>-->
            <!--</div>-->

            {{ form }}

            <!--<script>-->
              <!--var editor = CodeMirror.fromTextArea(id_content, {-->
                <!--lineNumbers: true,-->
                <!--mode: "text/x-csrc"-->
              <!--});-->
            <!--</script>-->
	    <button type="submit">Submit</button>
</form>

<a href="{% url 'social:begin' 'github' %}?next={{ request.path }}">Login with GitHub</a>

{% if user and not user.is_anonymous %}
<p>LOve</p>
{% endif %}

{% endblock %}
