<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search detail</title>
</head>
<body>

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/search_detail.css' %}">

{% block content %}

{% if user and not user.is_anonymous %}

    <ul>
        <li><a href="{% url 'firstwin:index' %}">Home</a></li>
        <li><a href="{% url 'firstwin:repocheck' %}">Check repository</a></li>
        <li><a href="{% url 'firstwin:history' %}">History</a></li>
        <li style="float:right"><a href="{% url 'firstwin:logout' %}">Log out</a></li>
    </ul>

{% endif %}



<table>
    <tr>
        <th>File name</th>
        <th>Defects amount</th>
    </tr>
    {% for item in search_history %}
        <tr>
            <td><a href="{{ item.link }}">{{ item.file_name }}</a></td>
            <td>{{ item.defects_amount }}</td>
        </tr>
    {% endfor %}
</table>


<div class="pagination">
    <span class="step-links">
        {% if search_history.has_previous %}
            <a href="?page={{ search_history.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ search_history.number }} of {{ search_history.paginator.num_pages }}.
        </span>

        {% if search_history.has_next %}
            <a href="?page={{ search_history.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

</body>
</html>